<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--邮箱配置-->
    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="javaMailSender">
        <property name="host" value="${email.host}"/>
        <property name="port" value="${email.port}"/>
        <property name="protocol" value="smtp"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.timeout">${email.smtp.timeout}</prop>
                <prop key="mail.smtp.auth">${email.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${email.smtp.starttls.enable}</prop>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                <!-- 如果设置为true,未能创建一个套接字使用指定的套接字工厂类将导致使用java.net.Socket创建的套接字类。默认值为true-->
                <prop key="mail.smtp.socketFactory.fallback">false</prop>
            </props>
        </property>
        <property name="username" value="${email.username}"/>
        <property name="password" value="${email.pwd}"/>
    </bean>
</beans>